:root {
  --cor-primaria: #C49A3D;
  --cor-primaria-hover: #a87f2c;
  --cor-fundo: #fff;
  --cor-texto-principal: #333;
  --cor-texto-escuro: #000;
  --cor-footer: #f3ebd7;
  --sombra-padrao: 0 2px 6px rgba(0, 0, 0, 0.05);
  --fonte-principal: "Inter", sans-serif;

  
  --cor-card-bg: #f8f5f0;
  --cor-banner-bg: #eaddc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

body {
  background: var(--cor-fundo);
  color: var(--cor-texto-principal);
 
}

a {
  text-decoration: none;
  color: inherit;
}