.Capa {
    background-image: url('../assets/capa.png');
    background-size: cover; 
   
    background-repeat: no-repeat;
} 
.user-dropdown-toggle-no-caret::after {
   
    display: none !important; 
    content: none !important;
}
